@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #000000;
  --gradient-color-2: #000000;
  --gradient-color-3: #eeea08;
  --gradient-color-4: #db12ba;
}
